.cards{
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    @container(max-width: 400px) {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card{
        height: 100%;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: rgb(47, 46, 46);
        border-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            width: 100%;
            height: 50%;
            aspect-ratio: 4/3;
            border-radius: 1rem;
        }

        h2{
            font-weight: 1000;
        }

        p{
            word-spacing: 0.3rem;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            .tag{
                background-color: rgb(33, 32, 32);
                border-radius: 1rem;
                width: fit-content;
                padding-inline: 1rem;
                padding-block: 0.75rem;
                color: rgb(38, 133, 215);
            }
        }
        .urls{
            display: flex;
            gap: 2rem;
            a{
                color: blue;
                text-decoration: none;
            }
        }
    }
}
