.window{
    height: 100%;
    background-color: #060606;
    color: rgb(168, 168, 168);
    border-radius: 0.75rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.24);
        display: flex;
        align-items: center;
        gap: 1.5rem;
        height: 10%;
        .dots{
            display: flex;
            gap: 0.25rem;
            .dot{
                height: 1rem;
                width: 1rem;
                background-color: whitesmoke;
                border-radius: 50%;
            }

            .red-dot{
                background-color: #eb3535;
            }

            .yellow-dot{
                background-color: rgb(247, 247, 81);
            }

            .green-dot{
                background-color: rgb(27, 228, 0);
            }
        }
    }
    .main-content{
        height: 90%;
        width: 100%;
        container-type: inline-size;
    }
}