*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
html,body,#root{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background-image: url(../public/mac-wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}