.dock{
    position: absolute;
    left: 50%;
    bottom: 0.75rem;
    transform: translateX(-50%);
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 0.50rem;
    background-color: rgba(0, 0, 0, 0.209);
    backdrop-filter: blur(2px);
    border-radius: 0.75rem;
}
.icon{
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-inline: 0.25rem;
    padding-block: 0.25rem;
    border-radius: 0.5rem;
}
.icon img{
    height: 100%;
    width: 100%;
}
.icon:hover{
    transform: scale(1.2) translateY(-10%);
}
.icon:hover + .icon{
    transform: scale(1.1);
}
.icon:has(+ .icon:hover){
    transform: scale(1.1);
}
.command,.github{
    background-color: whitesmoke
}
.calender{
    background-color: black;
}
.notes{
    background-color: whitesmoke;
}
.mail{
    background-color: black;
}
.pdf,.link{
    background: linear-gradient(to bottom, rgba(244, 21, 21, 0.5), rgba(199, 7, 7,0.5));
}
.spotify{
    background-color: black;
}